<ion-view view-title="Connect your jawbone">
<div class="bar bar-header bar-light">
  <a class="button icon-left icon-small ion-chevron-left button-clear button-dark" href="#/settings"></a>
  <h1 class="title">Connect your jawbone</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="connect-content tab white">
<div class="settings-connect tab-view">

  <div class="card white">
    <div class="card-view">
      <div class="item-image item">
        <img src="img/connect-jawbone.png">
      </div>
      <div class="item-body item status ok">
        &#x25cf; Status normal
      </div>
      <div class="item-footer item">
        This devise is working properly
      </div>
    </div>    
  </div>

  <div class="connect-jawbone-form">
    <ul class="list">
      <li class="item item-toggle">
        Connect/Disconnect
        <label class="toggle toggle-balanced">
         <input type="checkbox" checked="">
         <div class="track">
           <div class="handle"></div>
         </div>
       </label>
     </li>
     <li class="item">
      Support for Jawbone Up
    </li>
  </ul>
</div>

</div>
</ion-content>
</ion-view>
