<ion-view view-title="Cosmobody">
<div class="bar bar-header bar-light">
	<a class="button icon-left ion-navicon button-clear button-dark" href="#/tab/home"></a>
	<h1 class="title">Settings</h1>
</div>
<ion-content class="settings-content">

<div class="settings">
	<div class="list" style="margin-top: 50px;">

	  <div class="item item-button-right">
	    Connect your account
	    <a class="button icon-left ion-chevron-right button-clear button-dark" href="#/connect-account"></a>
	  </div>
	  <div class="item item-button-right">
	    Connect your Jawbone
	    <a class="button icon-left ion-chevron-right button-clear button-dark" href="#/connect-jawbone"></a>
	  </div>
	  <div class="item item-button-right">
	    Follow us
	    <a class="button icon-left ion-chevron-right button-clear button-dark" href="#/follow-us"></a>
	  </div>

	</div>
	<ul class="sub-settings">
		<li>
			<button class="button button-stable button-clear">Home</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">Account Questions</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">Terms of Use</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">Privacy Policy</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">VPPA Policy</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">Your California Privacy Rights</button>		
		</li>
		<li>
			<button class="button button-stable button-clear">Log Out</button>		
		</li>
	</ul>
	
</div>



</ion-content>
</ion-view>
