<ion-view view-title="Cosmobody">
<div class="bar bar-header bar-light">
	<a class="button icon-left ion-navicon button-clear button-dark" href="/settings"></a>
	<h1 class="title">Workouts</h1>
	<a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="workouts-content tab">
<div class="tab-workouts tab-view">
	<div class="list card">
		<a ng-click="toWorkoutDay()">
			<div class="card-view">
				<div class="item item-image">
					<img src="img/workouts/cardio.png">
				</div>
				<div class="curtain"></div>
				<div class="item title">
					Cardio
				</div>
			</div>
		</a>
		
		<div class="card-view">
			<div class="item item-image">
				<img src="img/workouts/butt.png">
			</div>
			<div class="curtain"></div>
			<div class="item title">
				Butt
			</div>
		</div>
		<div class="card-view">
			<div class="item item-image">
				<img src="img/workouts/body.png">
			</div>
			<div class="curtain"></div>
			<div class="item title">
				Body
			</div>
		</div>
		<div class="card-view">
			<div class="item item-image">
				<img src="img/workouts/lowerbody.png">
			</div>
			<div class="curtain"></div>
			<div class="item title">
				Lower body
			</div>
		</div>
		<div class="card-view">
			<div class="item item-image">
				<img src="img/workouts/fullbody.png">
			</div>

			<div class="curtain"></div>
			<div class="item title">
				Full body
			</div>
		</div>
	</div>
</div>

</ion-content>
</ion-view>
