<ion-view view-title="Cosmobody">
<div class="bar bar-header bar-light">
  <a class="button icon-left ion-navicon button-clear button-dark" href="#/settings"></a>
  <h1 class="title">Trainers</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="trainers-content tab">
<div class="tab-trainers tab-view">
  <div class="list card">
    
    <div class="card-view" ng-click="toTrainer()">
      <div class="curtain"></div>
      <div class="item item-image">
        <img class="back" src="img/trainers/window-bg.png">
        <img class="front" src="img/trainers/katia.png">
      </div>
      <div class="main-title">
        <span class="main">
          Katia Pryce
        </span>
        <span class="sub">
          Dance and sculpting specialist
        </span>
      </div>
    </div>

    <div class="card-view">
      <div class="curtain"></div>
      <div class="item item-image">
        <img class="back" src="img/trainers/window-bg.png">
        <img class="front" src="img/trainers/adam.png">
      </div>
      <div class="main-title">
        <span class="main">
          Adam Rosante
        </span>
        <span class="sub">
          Cardio and strength expert
        </span>
      </div>
    </div>

    <div class="card-view">
      <div class="curtain"></div>
      <div class="item item-image">
        <img class="back" src="img/trainers/window-bg.png">
        <img class="front" src="img/trainers/astrid.png">
      </div>
      <div class="main-title">
        <span class="main">
          Astrid Swan McGuire
        </span>
        <span class="sub">
          Boot camp and cardio trainer
        </span>
      </div>
    </div>

    <div class="card-view">
      <div class="curtain"></div>
      <div class="item item-image">
        <img class="back" src="img/trainers/window-bg.png">
        <img class="front" src="img/trainers/smith.png">
      </div>
      <div class="main-title">
        <span class="main">
          Don Saladino
        </span>
        <span class="sub">
          Strength and conditioning specialist
        </span>
      </div>
    </div>

  </div>
</div>
</ion-content>
</ion-view>
