<ion-view view-title="Workouts - Cardio">
<div class="bar bar-header bar-light">
  <a class="button icon-left icon-small ion-chevron-left button-clear button-dark" href="#/tab/workouts"></a>
  <h1 class="title">Cardio</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="video-content tab">
<div class="tab-videos tab-view">
  <div class="list card">
    
    <div class="card-view">
      <div class="item item-image">
      <img src="img/preview_home_1.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="main-title">Score Flat Abs Fast!</span>
        <span class="sub-title">Intermediate</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_2.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="main-title">Score Flat Abs Fast!</span>
        <span class="sub-title">Intermediate</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_3.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="main-title">Score Flat Abs Fast!</span>
        <span class="sub-title">Intermediate</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img class="full-image" src="img/preview_home_4.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="main-title">Score Flat Abs Fast!</span>
        <span class="sub-title">Intermediate</span>
      </div>
    </div>

    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_5.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="main-title">Score Flat Abs Fast!</span>
        <span class="sub-title">Intermediate</span>
      </div>
    </div>
    
  </div>
</div>

</ion-content>
</ion-view>
