<ion-view view-title="Cosmobody">
<div class="bar bar-header bar-light">
  <a class="button icon-left ion-navicon button-clear button-dark" href="#/settings"></a>
  <h1 class="title">Programs</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="programs-content tab">
<div class="tab-programs tab-view">
  <div class="list card">
    <div class="card-view" ng-click="toProgram()">
      <div class="curtain"></div>
      <div class="item item-image">
        <img src="img/programs/preview-1.png">
      </div>
      <div class="item remained-days">
        <div class="triangle"></div>
        <div class="title">
          <span class="number">20</span>
          <span class="days">days</span>
        </div>
      </div>
      <div class="main-title">
        <span class="text">
          Get started
        </span>
      </div>
    </div>

    <div class="card-view">
      <div class="curtain"></div>
      <div class="item item-image">
        <img src="img/programs/preview-2.png">
      </div>
      <div class="item remained-days">
        <div class="triangle"></div>
        <div class="title">
          <span class="number">7
          </span>
          <span class="days">days</span>
        </div>
      </div>
      <div class="main-title">
        <span>
          Tighten & Tone Your Bod
        </span>
      </div>
    </div>

    <div class="card-view">
      <div class="curtain"></div>
      <div class="item item-image">
        <img src="img/programs/preview-3.png">
      </div>
      <div class="item remained-days">
        <div class="triangle"></div>
        <div class="title">
          <span class="number">20</span>
          <span class="days">days</span>
        </div>
      </div>
      <div class="main-title">
        <span class="text">
          Get hotter together
        </span>
      </div>
    </div>
  </div>
</div>
</ion-content>
</ion-view>
