<ion-view view-title="Programs - Program 1">
<div class="bar bar-header bar-light">
  <a class="button icon-left icon-small ion-chevron-left button-clear button-dark" href="#/tab/programs"></a>
  <h1 class="title">Get Started</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="video-content tab">
<div class="tab-videos tab-view">
  <div class="list card">
    
    <div class="card-view">
      <div class="item item-image">
      <img src="img/preview_home_1.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 1</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_2.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 2</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_3.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 3</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img class="full-image" src="img/preview_home_4.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 4</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>

    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_5.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 5</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
  </div>
</div>

</ion-content>
</ion-view>
