<ion-view view-title="Trainers - Katia Pryce">
<div class="bar bar-header bar-light">
  <a class="button icon-left icon-small ion-chevron-left button-clear button-dark" href="#/tab/trainers"></a>
  <h1 class="title">Katia Pryce</h1>
  <a class="button icon-left ion-ios-search button-clear button-dark"></a>
</div>
<ion-content class="video-content trainer-content tab">
<div class="tab-videos tab-trainer tab-view">

  <div class="main-info">
    <div class="card-view">
      <div class="item item-image">
        <img class="back" src="img/trainers/window-bg.png">
        <img class="front" src="img/trainers/katia.png">
      </div>
      <div class="item item-body">
        <span class="main-text">
          You’re about to feel fitter, stronger and sexier, thanks to Katia’s hot (hot, hot!) dance-based cardio and strength workouts. Her fluid, feminie moves will help you sculpt a slim, enviable dancer’s physique—think tight abs and a perky butt. Plus, you’ll love Katia’s nothing’s-off-limits straight talk.
        </span>
        <button class="pink-button landing-button">Meet Katia</button>
      </div>
    </div>
  </div>


  <h2>Katia's videos</h2>


  <div class="list card">

    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_1.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 1</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_2.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 2</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_3.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 3</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
    <div class="card-view">
      <div class="item item-image">
        <img class="full-image" src="img/preview_home_4.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 4</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>

    <div class="card-view">
      <div class="item item-image">
        <img src="img/preview_home_5.png">
      </div>

      <div class="item time-duration">
        11:40
      </div>

      <div class="item item-footer">
        <span class="up-title">Day 5</span>
        <span class="main-title">Score Flat Abs Fast!</span>
      </div>
    </div>
    
  </div>
</div>

</ion-content>
</ion-view>
